*{
  margin:0;
  padding:0;
}

body{
  background-color: whitesmoke;
}
.cashGivenInput {
  display: none;
}

.change-return {
  display: none;
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: blueviolet;
  
  gap: 1rem;
}

table,th,td{
  border:2px solid white;
  background-origin: padding-box;
  color:white;
  background-color: blueviolet;
  
}

button{
  background-color: blueviolet;
  color:white;
  padding:0.5rem;
  font-size:medium;
  width:fit-content;
  border-color: white;
}

.label{
  font-size: large;
}


#cash-given,#bill-amount{
  border-color: blueviolet;
  color:blueviolet;
}
